---
layout: default
---

<div class="home">

  <img src="{{ '/images/logo.png' | prepend: site.baseurl }}" alt="Logo RailChain" />

  <img src="{{ '/images/konsortium.png' | prepend: site.baseurl }}" alt="Konsortium RailChain: DB Systel GmbH, Siemens AG, Siemens Mobility GmbH, Hasso-Plattner-Institut der Universität Potsdam, Technische Universität Braunschweig, TÜV Rheinland InterTraffic GmbH und Spherity GmbH" />
  <div class="spacer"></div>

  <p>{{ site.description }}</p>

  <p>
    <iframe width="790" height="444" src="https://www.youtube.com/embed/ZW7B6EtmKB8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </p>

  <div class="spacer"></div>

  <h1 class="page-heading">Anwendungsfälle</h1>

  <div class="usecase-col-wrapper">
    <div class="usecase-col">
      <a href="{{ '/asset_identity' | prepend: site.baseurl }}">
        <img src="{{ '/images/fingerprint.png' | prepend: site.baseurl }}" alt="Asset Identity" />
        <h3>Asset Identity</h3>
      </a>
    </div>

    <div class="usecase-col">
      <a href="{{ '/data_logger' | prepend: site.baseurl }}">
        <img src="{{ '/images/report.png' | prepend: site.baseurl }}" alt="Data Logger" />
        <h3>Data Logger</h3>
      </a>
    </div>

    <div class="usecase-col">
      <a href="{{ '/juridical_recorder' | prepend: site.baseurl }}">
        <img src="{{ '/images/recorder.png' | prepend: site.baseurl }}" alt="Juridical Recorder" />
        <h3>Juridical Recorder</h3>
      </a>
    </div>
  </div>
  <div class="spacer" style="font-size: 0.8em; text-align: right">Icon credit: <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>, <a href="https://www.flaticon.com/authors/nhor-phai" title="Nhor Phai">Nhor Phai</a> (<a href="https://www.flaticon.com/" title="Flaticon">flaticon.com</a>)</div>

  <div class="spacer"></div>

  <h2 class="page-heading">Highlights aus dem Projekt</h2>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <span class="post-meta">{{ post.date | date: "%d.%m.%Y" }}</span>
      </li>
    {% endfor %}
  </ul>

</div>
